@import 'normalize';
@import 'default-variables';

@mixin hide {
  position: absolute;
  left: -999em;
  // http://css-tricks.com/snippets/css/accessibilityseo-friendly-css-hiding
  top: -999px;
}

@mixin inline($separator, $distance) {
  li {
    // http://www.alistapart.com/articles/taminglists
    display: inline-block;
    margin: 0;
    padding-left: 0;
  }

  li + li {
    // old IE doesnt recognize ::before, so this keeps items at least a little separate
    padding-left: $distance / 2;

    ::before {
      content: $separator;
      font-style: normal;
      padding-right: $distance / 2;
    }
  }
}

// defaults
html {
  font-family: Avenir, sans-serif;
  font-size: $base-font-size;
}

p {
  line-height: $p-line-height;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $base-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

// accessibility
.screen-reader {
  @include hide;
}

// background image {
html {
  background: $white url('../SantaBarbaraCourthouse_4_20180202_PhotoCredit_BlakeBronstad.jpg') no-repeat center top fixed;
  background-size: cover;
}

.brand-home {
  background-color: $base-navy;
  color: $white;
  display: inline-block;
  font-weight: 100;
  height: 1.5em;
  letter-spacing: .5;
  padding-top: .5em;
  width: 100%;

  a {
    color: $white;
    padding: 0 4em;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.title {
  background-color: $white;
  background-color: rgba(255, 255, 255, .50);
  padding: 0 10%;
  text-align: left;

  h1 {
    font-family: Produkt, "Roboto Slab";
    font-size: 72pt;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: .15em;
  }

  h2 {
    font-weight: 200;
    text-align: right;
  }
}

@media screen and (min-width: $screen-sm) {
  .title {
    background-color: inherit;

    h1 {
      font-size: 112pt;
    }
  }
}


nav {
  @include inline("• ", 10px);

  background-color: $base-navy;
  color: $white;
  font-weight: 100;
  overflow: hidden;
  padding: 0 1em;
  text-align: center;

  a {
    color: $white;
    text-decoration: none;
  }
}

main {
  background-color: $white;
  background-color: rgba(255, 255, 255, .70);
  padding: 1em 5%;
}

footer {
  background-color: $base-navy;
  color: $white;
  min-height: 8em;
  overflow: hidden;
  padding: 1em 2em;

  a,
  a:hover {
    color: $white;
    text-decoration: none;
  }

  div + div {
    padding-top: 1em;
  }

}

.meta-copyright {
  padding: 1em 0;
}

.meta-ucsb {
  min-width: 20em;
}

.ucsb-small {
  clear: right;
  float: left;
  padding: .5em 1em 0 0;
}

@media screen and (min-width: $screen-sm) {
  footer {
    position: relative;
  }

  .meta-copyright {
    float: left;
    max-width: 50%;
  }

  .meta-ucsb {
    position: absolute;
    right: 0;
  }
}
