<footer>
  <div class="meta-copyright">
    <div class="copyright">
      Copyright {{ now.Format "2006"}} The Regents of the University of California, All Rights Reserved.
    </div>
  </div>

  <div class="meta-ucsb">
    <div class="logo-link">
      <a href="https://www.library.ucsb.edu" title="UCSB Library homepage">
        <img src="library-logo.png" alt="UCSB Library Logo" />
      </a>
    </div>

    <div>
      <a href="http://www.ucsb.edu" title="UCSB homepage">
        <img class="ucsb-small" src="UCSB-logo-small.png" alt="UCSB logo" />
        <strong>UC Santa Barbara</strong><br />
        Santa Barbara, CA 93106-9010
      </a>
    </div>
  </div>
</footer>
