<header>
  <span class="brand-home"><a href="https://ucsb.edu">University of California, Santa Barbara</a></span>
  <div class="title">
    <h1>{{ .Title }}</h1>
    <h2>{{ .Params.eventDates }} at {{ .Params.location }}</h2>
  </div>
</header>

<nav>
  <a class="screen-reader" href="#content">Skip to Content</a>
  <ul>
    {{ range sort .Site.RegularPages }}
    {{ if .Params.title }}
    {{ if .Params.link }}
    <li><a href="{{ .Params.link }}">{{ .Title }}</a></li>
    {{ else }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ end }}
    {{ end }}
  </ul>
</nav>
