<!DOCTYPE html>
<html lang="en" class="no-js">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
          The requested page does not exist.
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
